<template name="fixedFooter">
    <footer>
        <div class='row'>
            <div class="col-md-6 col-md-offset-1">
                <p class="text-muted">&copy; Copyright 2014 Joe Lofshult. All Rights Reserved</p>
            </div>
            <div class="nav">
                <ul class="nav nav-default pull-right">
                    <li class="pull-left"><a href="http://www.tumblr.com/jlofshult">Follow Our Blog</a></li>
                    <li class="pull-left"><a href="http://www.twitter.com/jlofshult">Follow Us on Twitter</a></li>
                    <li class="pull-left"><a href="http://www.facebook.com/jlofshult">Like Us on Facebook</a></li>
                </ul>
            </div>
        </div>
    </footer>
</template>
