<template name="home_page">
    <div class="row">
        <div class="col-md-12" id="startBtnDiv">
            <button class="btn btn-primary" id="startBtn">Start Primal Index Survey</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1 homePageInfo">
            The Primal Index&trade; survey was created to be a simple, fun way to determine where you are at on the Primal/Paleo lifestyle continuum.
        </div>
        <div class="col-md-5 homePageInfo">
            After reading several books on the paleo lifestyle I decided to create The Primal Index&trade; as a fun, objective measure
            of how closely a person was following the suggestions in the books. It's also meant to be a learning tool so users can get ideas for how
            they can improve their health and fitness by adding aspects of the paleo lifestyle to their own lives.
        </div>

    </div>
</template>