<template name="home_page">
    <div class="row">
        <div class="col-md-12" id="startBtnDiv">
            <button class="btn btn-primary" id="startBtn">Start Primal Index Survey</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1 homePageInfo">
            The Primal Index survey was created to be a simple, fun way to determine where you are at on the Primal/Paleo lifestyle continuum.
        </div>
        <div class="col-md-5 homePageInfo">
            I developed the Primal Index after reading the <a href="http://www.amazon.com/Primal-Blueprint-Reprogramme-effortless-boundless-ebook/dp/B004I8VGYE/ref=sr_1_1?ie=UTF8&qid=1424601960&sr=8-1&keywords=primal+blueprint">Primal Blueprint&#8482;</a>,
            <a href="http://www.amazon.com/The-Paleo-Solution-Original-Human-ebook/dp/B00466H5MU/ref=pd_sim_kstore_5?ie=UTF8&refRID=1X451QTKVMBR1VDVE2Z2">The Paleo Solution&#8482;</a>,
            and the <a href="http://www.amazon.com/The-Paleo-Manifesto-Ancient-Lifelong-ebook/dp/B0083DJU7A/ref=pd_sim_kstore_10?ie=UTF8&refRID=1FVKW8WS8KPA4MHX7QHV">Paleo Manifesto&#8482;</a>
            as an objective measure of how closely a person was following the suggestions in the books.
        </div>

    </div>
</template>