<template name="login">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>Login</h1>
            <div id="login-buttons">

                <div id="login-form-div">
                    <form id="login-form" action="submit">
                        <div>
                            <input type="text" id="login-email" class="login-form-fields" placeholder="Email Address or Username"/>
                            <input type="password" id="login-password" class="login-form-fields" placeholder="Password"/>
                            <button id="login-button" value="Sign in">Sign In</button>
                            <button id="cancel-login-button">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</template>