<template name="resources">
    <h1>Additional Resources</h1>
    <h2>Introductory Books</h2>
    <ul>
        <li><a href="http://amzn.to/1IVFe9B">Primal Blueprint</a></li>
        <li><a href="http://amzn.to/1JECQEp">The Paleo Solution</a></li>
        <li><a href="http://amzn.to/1JED2mZ">The Paleo Manifesto: Ancient Wisdom for Lifelong Health</a></li>

    </ul>
    <h2>Paleo Cookbooks</h2>
    <ul>
        <li><a href="http://amzn.to/1HDa6wI">Everyday Paleo</a></li>
        <li><a href="http://amzn.to/1IVFHsv">Nom Nom Paleo: Food for Humans</a></li>
        <li><a href="http://amzn.to/1z0iMfo">Well Fed: Paleo Recipes for People Who Love to Eat</a></li>

    </ul>
    <h2>Web Sites</h2>
    <ul>
        <li>Mark's Daily Apple</li>

    </ul>
    <h2>Paleo Workouts</h2>
    <ul>
        <li></li>
    </ul>
    <h2>Paleo Accessories</h2>
    <ul>
        <li><a href="http://amzn.to/1z4sayV">Vibram Five Fingers Footwear</a></li>
        <li><a href="http://amzn.to/1GuiGiQ">Kettlebells</a></li>
    </ul>
</template>