<template name="resources">
    <div class="container">
        <div class="row">
            <h1>Paleo Resources</h1>
            <h2 class="resources">Introductory Books</h2>
            <ul>
                <li><a href="http://amzn.to/1IVFe9B">Primal Blueprint</a></li>
                <li><a href="http://amzn.to/1JECQEp">The Paleo Solution</a></li>
                <li><a href="http://amzn.to/1JED2mZ">The Paleo Manifesto: Ancient Wisdom for Lifelong Health</a></li>

            </ul>
            <h2 class="resources">Paleo Cookbooks</h2>
            <ul>
                <li><a href="http://amzn.to/1HDa6wI">Everyday Paleo</a></li>
                <li><a href="http://amzn.to/1IVFHsv">Nom Nom Paleo: Food for Humans</a></li>
                <li><a href="http://amzn.to/1z0iMfo">Well Fed: Paleo Recipes for People Who Love to Eat</a></li>

            </ul>
            <h2 class="resources">Paleo Web Sites</h2>
            <ul>
                <li><a href="http://www.marksdailyapple.com/">Mark's Daily Apple</a></li>
                <li><a href="http://robbwolf.com/">Robb Wolf</a></li>
            </ul>
            <h2 class="resources">Paleo Workouts</h2>
            <ul>
                <li><a href="http://www.dragondoor.com/b41/">Convict Conditioning (Book)</a></li>
                <li><a href="http://www.dragondoor.com/shop-by-department/dvds/dv036/">Enter the Kettlebell (DVD)</a></li>
            </ul>
            <h2 class="resources">Paleo Supplements</h2>
            <ul>
                <li><a href="http://www.primalblueprint.com/supplements/">Primal Blueprint Supplements</a></li>
            </ul>
            <h2 class="resources">Paleo Accessories</h2>
            <ul>
                <li><a href="http://amzn.to/1z4sayV">Vibram Five Fingers Footwear</a></li>
                <li><a href="http://amzn.to/1GuiGiQ">Kettlebells</a></li>
            </ul>
        </div>
    </div>
</template>